[submodule "vehicle/sensor_model/velodyne"]
	path = vehicle/sensor_model/velodyne
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
[submodule "worlds/external/osrf_citysim"]
	path = worlds/external/osrf_citysim
	url = https://github.com/yukkysaito/osrf_citysim.git
[submodule "worlds/external/car_demo"]
	path = worlds/external/car_demo
	url = https://github.com/yukkysaito/car_demo.git
