<?xml version="1.0"?>
<robot name="autoware" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find vehicle_model)/urdf/body.xacro" />
  <xacro:include filename="$(find vehicle_model)/urdf/wheel.xacro" />
  <xacro:include filename="$(find vehicle_model)/urdf/steering.xacro" />

  <xacro:arg name="wheel_radius" default="0.341"/>
  <xacro:arg name="wheel_width" default="0.225"/>
  <xacro:arg name="wheel_base" default="2.950"/>
  <xacro:arg name="wheel_tread" default="1.55"/>
  <xacro:arg name="vehicle_mass" default="5000.0"/>
  <xacro:arg name="vehicle_length" default="4.82"/>
  <xacro:arg name="vehicle_width" default="1.81"/>
  <xacro:arg name="vehicle_height" default="1.5"/>

  <xacro:arg name="vehicle_mass_height" default="0.5"/>
  <xacro:property name="pi" value="3.1415926835897931"/>

  <link name="base_link"/>

  <xacro:body_macro suffix="wheel_base"
                    parent="base_link"
                    wheel_radius="$(arg wheel_radius)"
                    wheel_base="$(arg wheel_base)"
                    vehicle_mass="$(arg vehicle_mass)"
                    vehicle_mass_height="$(arg vehicle_mass_height)"
                    vehicle_length="$(arg vehicle_length)"
                    vehicle_width="$(arg vehicle_width)"
                    vehicle_height="$(arg vehicle_height)"/>

  <xacro:steering_macro suffix="steering_right_front" parent="wheel_base_link" x="$(arg wheel_base)" y="${-1*$(arg wheel_tread)/2}" yaw="0" length="$(arg wheel_width)"/>
  <xacro:steering_macro suffix="steering_left_front" parent="wheel_base_link" x="$(arg wheel_base)" y="${$(arg wheel_tread)/2}" yaw="0" length="$(arg wheel_width)"/>

  <xacro:wheel_macro suffix="wheel_right_front" parent="steering_right_front_link" x="0" y="0" yaw="${pi}" radius="$(arg wheel_radius)" width="$(arg wheel_width)"/>
  <xacro:wheel_macro suffix="wheel_left_front" parent="steering_left_front_link" x="0" y="0" yaw="${0}" radius="$(arg wheel_radius)" width="$(arg wheel_width)"/>
  <!-- <xacro:wheel_macro suffix="wheel_right_front" parent="wheel_base_link" x="$(arg wheel_base)" y="${-1*$(arg wheel_tread)/2}" yaw="${pi}" radius="$(arg wheel_radius)" width="$(arg wheel_width)"/>
  <xacro:wheel_macro suffix="wheel_left_front" parent="wheel_base_link" x="$(arg wheel_base)" y="${$(arg wheel_tread)/2}" yaw="${0}" radius="$(arg wheel_radius)" width="$(arg wheel_width)"/> -->
  <xacro:wheel_macro suffix="wheel_right_rear" parent="wheel_base_link" x="0" y="${-1*$(arg wheel_tread)/2}" yaw="${pi}" radius="$(arg wheel_radius)" width="$(arg wheel_width)"/>
  <xacro:wheel_macro suffix="wheel_left_rear" parent="wheel_base_link" x="0" y="${$(arg wheel_tread)/2}" yaw="${0}" radius="$(arg wheel_radius)" width="$(arg wheel_width)"/>

  <!-- actuator -->
 	<xacro:include filename="$(find vehicle_model)/urdf/actuator.xacro"/>

  <!-- gazebo -->
 	<xacro:include filename="$(find vehicle_model)/urdf/vehicle.gazebo"/>
</robot>